h3{
	text-align: center;
}

form{
	margin-bottom: 10px;
}

alert{
	width: 197px;
}

.tableDiv{
	width: 300px;
}

.text-error{
	color: red;
}

.text-success{
	color: green;
}

.options{
	margin-top: 10px;
	margin-bottom: 10px;
}